<configuration>

    <!-- Console JSON Appender -->
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">

            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>

                <logLevel />
                <threadName />
                <loggerName />

                <!-- Message -->
                <message />

                <!-- MDC fields (correlationId, etc) -->
                <mdc />

                <!-- Stacktrace -->
                <stackTrace />

                <!-- Static app info -->
                <globalCustomFields>
                    {
                    "app": "salon-backend",
                    "env": "local"
                    }
                </globalCustomFields>
            </providers>

        </encoder>
    </appender>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="JSON_CONSOLE"/>
    </root>

</configuration>